body {
    background-image: url('pic1.png');

/* Your styles */
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    border: 5px solid #ddd;
    border-radius: 5px;
}

/* Style the task list items */
#taskList li,
#completedTasks li {
    list-style-type: none;
    margin-bottom: 10px;
    position: relative;
    font-size: 30px;
}

/* Completed task style */
#completedTasks li {
   
    color: #0e8006;
}

/* Delete button style */
.delete {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
}